<% id = payment_method.id %>

<div class="field field-required field--nexio-number" data-hook="nexio_card_number_field">
  <label><%= t('spree.card_number') %></label>
  <input name="payment_source[<%= id %>][number]" type="text" data-hook="nexio_card_number" class="cardNumber" />
  <input name="payment_source[<%= id %>][gateway_payment_profile_id]" type="hidden" data-hook="nexio_card_gateway_payment_profile_id" />
</div>
<input name="payment_source[<%= id %>][cc_type]" type="hidden" data-hook="nexio_card_type" class="ccType" />

<div class="field field-required field--nexio-name" data-hook="nexio_card_name_field">
  <label><%= t('spree.name_on_card') %></label>
  <input name="payment_source[<%= id %>][name]" type="text" data-hook="nexio_card_name" />
</div>

<div class="fieldset fieldset--expirity">
  <div class="field field-required field--nexio-month" data-hook="nexio_card_month_field">
    <label><%= Spree::CreditCard.human_attribute_name(:month) %></label>
    <input name="payment_source[<%= id %>][month]" type="text" data-hook="nexio_card_month" />
  </div>

  <div class="field field-required field--nexio-year" data-hook="nexio_card_year_field">
    <label><%= Spree::CreditCard.human_attribute_name(:year) %></label>
    <input name="payment_source[<%= id %>][year]" type="text" data-hook="nexio_card_year" />
  </div>

  <div class="field field-required field--nexio-verification_value" data-hook="nexio_verification_value_field">
    <label><%= t('spree.card_code') %></label>
    <input name="payment_source[<%= id %>][verification_value]" type="password" data-hook="nexio_verification_value" />

    <a href="/content/cvv" class="info cvvLink" target="_blank">
      (<%= I18n.t("spree.what_is_this") %>)
    </a>
  </div>
</div>
